{% extends "todo/base.html" %}
{% load staticfiles %}

{% block title %}
{% endblock %}

{% block body %}
{% comment %}
    TODO: display all todos as list
{% endcomment %}
{% comment %}

    <ul>
        {% for todo in todo_list %}
            <li><a href="{% url 'todo:detail' todo.slug %}">{{ todo.title }}</a></li>
        {% endfor %}
    </ul>
{% endcomment %}
{% endblock %}

{% block main %}
<div class="container">
    <div class="mt-1">
        <h1>Todo App</h1>
    <p class="lead">List of recent todos:</p>
    <p>
        <ul class="list-group">
            {% for todo in todos %}
              <li class="list-group-item"><a href="{% url 'todo:detail' todo.slug %}">{{ todo.title }}</a></li>
            {% endfor %}
        </ul>
    </p>
</div>
{% endblock %}
